.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {

        &__item {
            background-color: #13151d;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 15px;

                    span {
                        display: inline-block;
                        position: relative;
                        padding-right: 26px;
                    }
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0px;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .2s ease;
            }

            &--is-open {

                .faq__questions__item__question::after {
                    content: '-';   
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;

                    ul {
                        padding-left: 40px;
                        margin-top: 16px;

                        li {
                            text-align: left;
                            letter-spacing: 0.2px;
                            height: 30px;
                            margin-bottom: 16px;
                            list-style: disc;

                            @media (max-width: 768px) {
                                height: 80px;
                            }
                        }
                    }

                    &__1 {

                        @media (max-width: 768px) {
                            li {
                                height: 80px;

                                &:first-child, &:nth-child(4), &:nth-child(5) {
                                    height: 48px;
                                }

                                &:nth-child(6) {
                                    height: 96px;
                                }

                                &:last-child {
                                    margin-bottom: 0px;
        
        
                                    @media (max-width: 768px) {
                                        margin-bottom: 24px;
                                    }
                                }
                            }
                        }
                    }

                    &__2 {
                        li {
                            @media (max-width: 768px) {
                                &:nth-child(2) {
                                    height: 96px;
                                }
    
                                &:nth-child(3) {
                                    height: 120px;
                                }
                            }
                            &:nth-child(3) {
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}